
<div mat-dialog-content fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
  <h2>{{'sign-in'|tr}}</h2>
  <mat-form-field appearance="fill">
    <mat-label>{{'email'|tr}}</mat-label>
    <input required matInput [(ngModel)]="signInUserModel.email" id="{{'Email' + 1}}">
    <button matSuffix mat-icon-button disabled></button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'password'|tr}}</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="signInUserModel.password" id="{{'Pass' + 1}}">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" id="{{'Vision'+1}}">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div fxLayoutGap="20%" fxLayout="column" >
    <button fxFill mat-raised-button id="{{'Singin'+1}}" (click)="signIn()" type="submit">{{'sign-in'|tr}}</button>
    <button mat-raised-button id="{{'back'+1}}" (click)="close()">{{'back'|tr}}</button>
  </div>
</div>
