<!DOCTYPE html>
<html>

<!-- Sign in Modal -->

<body class="d-flex justify-content-center bg-primary h-100">

<div class="modal m-5 fade" id="signInModal" style="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign in<br></h5>
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      </div>
      <div class="modal-body">
        <form id="SignInForm" class="" (ngSubmit)="SignIn_onSubmit()" novalidate #signInForm="ngForm">
          <div class="form-group row"><label for="Signin_inputemail" class="col-2 col-form-label">E-mail</label>
            <div class="col-10">
              <input type="text" class="form-control" id="Signin_inputemail" placeholder="Your email"
                     #login="ngModel" required [class.is-invalid]="login.touched && login.invalid" name="login"
                     [(ngModel)]="signInUserModel.email"></div>
          </div>
          <div class="form-group row"><label for="Signin_inputpassword" class="col-2 col-form-label">Password</label>
            <div class="col-10">
              <input type="password" class="form-control" id="Signin_inputpassword" placeholder="Password"
                     #password="ngModel" required [class.is-invalid]="password.touched && password.invalid"
                     name="password" [(ngModel)]="signInUserModel.password"></div>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
      <div>
        <p>or</p>
        <app-facebook></app-facebook>
        <app-google></app-google>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Sign Up Modal -->


<div class="modal m-5 fade" id="signUpModal" style="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
      </div>
      <div class="modal-body">
        <form id="SignUpForm" class="" (ngSubmit)="SignUp_onSubmit()" novalidate #signUpForm="ngForm">

          <div class="form-group row"><label for="Signup_inputmail" class="col-2 col-form-label">E-mail</label>
            <div class="col-10">
              <input type="email" class="form-control" id="Signup_inputmail" placeholder="mail@example.com"
                     #email="ngModel" required [class.is-invalid]="email.touched && email.invalid"
                     name="email" [(ngModel)]="signUpUserModel.email"></div>
          </div>
          <div class="form-group row"><label for="Signup_inputpassword" class="col-2 col-form-label">Password</label>
            <div class="col-10">
              <input type="password" class="form-control" id="Signup_inputpassword" placeholder="Password"
                     #password="ngModel" required [class.is-invalid]="password.touched && password.invalid"
                     name="password" [(ngModel)]="signUpUserModel.password"></div>
          </div>
          <div class="form-group row"><label for="Signup_inputpassword_confirmation" class="col-2 col-form-label">Confirm
            Password</label>
            <div class="col-10">
              <input type="password" class="form-control" id="Signup_inputpassword_confirmation"
                     placeholder="Confirm your password"
                     #password_confirmation="ngModel" required
                     [class.is-invalid]="password_confirmation.touched && password_confirmation.invalid"
                     name="password_confirmation"
                     [(ngModel)]="signUpUserModel.password_confirmation"></div>
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Body -->

<div class="py-5 h-100 w-75 bg-success">
  <div class="container border border-secondary py-5">
    <div class="row">
      <div class="col-md-12 text-primary">
        <b>
          <h1 class="text-center text-uppercase text-secondary">Charades With Friends</h1>
        </b>
        <hr>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="col-md-12 d-inline-flex">
        <hr class="">
        <h4 class="">Enter game</h4>
        <hr>
      </div>
      <hr>
    </div>
    <div class="row mx-5">
      <div class="col-md-12 my-3">
        <form class="">
          <div class="form-group"><input type="text" class="form-control border" placeholder="Enter code..."
                                         required="required"></div>
        </form>
        <div class="col-md-12class d-flex justify-content-center">
          <button type="submit" class="btn btn-secondary btn-lg border border-primary  w-25 mx-auto">Join!</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex">
        <hr class="w-25">
        <h4 class="text-center">Or</h4>
        <hr class="w-25">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-secondary d-flex justify-content-center w-25 btn-lg my-2 mx-auto" type="button"
           data-toggle="modal" data-target="#signInModal">Sign In</a></div>
    </div>
    <div class="row">
      <div class="col-md-12"><a
        class="btn d-flex justify-content-center w-25 btn-lg my-2 mx-auto btn-success border border-secondary"
        data-toggle="modal" data-target="#signUpModal">Sign
        Up<br></a></div>
    </div>
  </div>
</div>
</body>

</html>
