<button fxFill mat-raised-button type="button" (click)="signInWithFacebook()" fxLayout="row" fxLayoutAlign="center center">
  <mat-icon _ngcontent-wvs-c85="" class="mat-icon notranslate mat-icon-no-color ng-star-inserted" role="img"
            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="auth_service_facebook_24dp"
            data-mat-icon-namespace="firebase">
    <svg height="100%" viewBox="0 0 20 20" width="100%" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
      <path
        d="M18.007 19c.55 0 .993-.444.993-.993V1.993A.992.992 0 0018.007 1H1.993A.992.992 0 001 1.993v16.014c0 .55.444.993.993.993h16.014zm-4.587 0v-6.97h2.34l.35-2.717h-2.69V7.578c0-.786.218-1.322 1.346-1.322h1.438v-2.43a18.915 18.915 0 00-2.096-.108c-2.073 0-3.494 1.267-3.494 3.59v2.005H8.268v2.717h2.346V19h2.806z"
        fill="#3B5998" fill-rule="evenodd"></path>
    </svg>
  </mat-icon>
  <mat-label>{{'facebook'|tr}}</mat-label>
</button>
