<body class="mat-app-background">
<div fxFill fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="2%">
    <h1>{{'Welcome'|tr}}, {{user}}</h1>
    <p>{{'sup'|tr}}</p>
    <button mat-raised-button (click)="toCreateGame()" >{{'create-game'|tr}}</button>
    <button mat-raised-button (click)="toCategoriesManagement()" >{{'manage'|tr}}</button>
    <button mat-raised-button (click)="toHistoryAndStatistics()">{{'history'|tr}}</button>
    <button mat-raised-button (click)="toSettings()">{{'Settings'|tr}}</button>
    <button mat-raised-button (click)="logOut()">{{'Logout'|tr}}</button>
</div>
</body>
