<body class="mat-app-background">
<div fxFill fxFlexAlign="center" class="mat-background-app" fxLayout="column" fxLayoutGap="5%">
  <mat-toolbar fxLayoutAlign="center center" fxLayout="column" color="primary">
    <h1>Welcome, {{user}}</h1>
    <p>What are you up to?</p>
  </mat-toolbar>
  <div fxFill fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="5px">
    <button mat-raised-button>Create game</button>
    <button mat-raised-button>Manage your categories</button>
    <button mat-raised-button>Settings</button>
    <button mat-raised-button (click)="logout()">Logout</button>
  </div>
</div>
</body>
