@import '~@angular/material/theming';
@include mat-core();
$charades-frontend-primary: mat-palette($mat-blue);
$charades-frontend-accent: mat-palette($mat-pink, A200, A100, A400);
$charades-frontend-warn: mat-palette($mat-red);
$charades-frontend-theme: mat-light-theme((
  color: (
    primary: $charades-frontend-primary,
    accent: $charades-frontend-accent,
    warn: $charades-frontend-warn,
  )
));
$charades-frontend-theme: mat-dark-theme((
  color: (
    primary: $charades-frontend-primary,
    accent: $charades-frontend-accent,
    warn: $charades-frontend-warn,
  )
));
@include angular-material-theme($charades-frontend-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
