<body class="mat-app-background">
<div fxLayoutAlign="end">
  <mat-list-item fxLayout="row" *ngFor="let theme of themes" (click)="setTheme(theme.name)">
    <mat-icon mat-list-icon>{{ theme.icon }}</mat-icon>
    <h3 matLine>{{ theme.name }}</h3>
    <mat-icon *ngIf="colorSchemeService.currentActive() === theme.name">check</mat-icon>
  </mat-list-item>
</div>
<div fxFill fxLayoutAlign="center center" fxLayout="column">
  <h1>Charades with friends</h1>
  <mat-card-content fxLayoutGap="15%" fxLayout="column">
    <div fxLayoutGap="2%" fxLayout="column">
      <mat-form-field>
        <mat-label>Enter code</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button>Join</button>
    </div>
    <div fxLayoutGap="2%" fxLayout="column">
      <app-google></app-google>
      <app-facebook></app-facebook>
    </div>
    <div fxLayoutGap="2%" fxLayout="column">
      <button mat-raised-button (click)="openSignIn()">Sign in</button>
      <button mat-stroked-button (click)="openSignUp()">Sign up</button>
    </div>
  </mat-card-content>
</div>
</body>
