<body class="mat-app-background">
<br>
<div fxLayoutAlign="end">
  <mat-icon>{{'wb_sunny'}}</mat-icon>
<mat-slide-toggle [checked]="checked" (click)="setTheme()"></mat-slide-toggle>
  <mat-icon>{{'brightness_3'}}</mat-icon>
</div>
<div fxFill fxLayoutAlign="center center" fxLayout="column">
  <h1>Charades with friends</h1>
  <mat-card-content fxLayoutGap="15%" fxLayout="column">
    <div fxLayoutGap="2%" fxLayout="column">
      <app-google></app-google>
      <app-facebook></app-facebook>
    </div>
    <div fxLayoutGap="2%" fxLayout="column">
      <button mat-raised-button (click)="openSignIn()">Sign in</button>
      <button mat-stroked-button (click)="openSignUp()">Sign up</button>
    </div>
  </mat-card-content>
</div>
</body>
