<html class="mat-app-background">
<div fxLayoutAlign="end" fxLayoutGap="10px">
  <div fxLayoutGap="16px">
    <button id="{{'menu'+1}}"mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="accent" color="accent">translate</mat-icon>
    </button>

    <mat-menu #menu="matMenu" >
      <div fxLayout="column">
        <button id="{{'translator'+1}}"mat-flat-button (click)="translator.setLanguage(x)" *ngFor="let x of ['en','pl']">{{x|tr}}</button>
      </div>
    </mat-menu>
  </div>
  <div fxLayoutAlign="center center">
    <mat-icon>wb_sunny</mat-icon>
    <mat-slide-toggle [checked]="checked" (click)="setTheme()"></mat-slide-toggle>
    <mat-icon>brightness_3</mat-icon>
  </div>
</div>

<body fxFill class="mat-app-background" fxLayoutAlign="center center">

<div fxLayoutAlign="center center" fxLayout="column">
  <img class="title" src="assets/logo-512x512.png" alt="Charades With Friends">
<br>
  <mat-card-content fxLayoutGap="15%" fxLayout="column">
    <div fxLayoutGap="2%" fxLayout="column" fx>
      <app-google></app-google>
      <app-facebook></app-facebook>
    </div>
    <div class="main-menu" fxLayoutGap="2%" fxLayout="column">
      <button id="{{'openSignIn'+1}}"mat-raised-button color="accent" (click)="openSignIn()">{{'sign-in'|tr}}</button>
      <button id="{{'openSignUp'+1}}" mat-stroked-button color="accent" (click)="openSignUp()">{{'sign-up'|tr}}</button>
    </div>
  </mat-card-content>
</div>
</body>
</html>
