<body class="mat-app-background">
<br>
  <div fxFill fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="2%">
    <mat-expansion-panel>
      <mat-expansion-panel-header hideToggle>
        <mat-panel-title>
          Theme
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description  fxLayout="column" fxLayoutGap="15%">
        <div fxLayoutAlign="center center">
          <mat-icon matPrefix>{{'wb_sunny'}}</mat-icon>
          <button mat-raised-button (click)="setLight()"  type="submit">Light</button>
        </div>
        <div fxLayoutAlign="center center">
          <mat-icon>{{'brightness_3'}}</mat-icon>
          <button mat-raised-button (click)="setDark()"  type="submit">Dark</button>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header hideToggle>
        <mat-panel-title>
          Change nickname
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column">
        <mat-form-field>
          <mat-label>Enter nickname</mat-label>
          <input matInput [(ngModel)]="user.username">
        </mat-form-field>
        <button mat-raised-button (click)="changeUsername(user)"  type="submit">Change</button>
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header hideToggle>
        <mat-panel-title>
          Change e-mail
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column">
        <mat-form-field>
          <mat-label>Enter e-mail</mat-label>
          <input matInput [(ngModel)]="user.email">
        </mat-form-field>
        <button mat-raised-button (click)="changeEmail(user)"  type="submit">Change</button>
      </mat-panel-description>
    </mat-expansion-panel>


    <button mat-raised-button color="warn" (click)="deleteUser()"> Delete account </button>
    <br>
    <button mat-raised-button (click)="toProfile()">Back</button>

  </div>



</body>
