<body class="mat-app-background" fxLayout="column" fxLayoutGap="16px">
<div fxFlexAlign="center">
  <button mat-raised-button (click)="toProfile()">{{'back'|tr}}</button>
</div>
<mat-card fxLayout="column" fxLayoutGap="16px" *ngFor="let stat of statistics; let i = index">
  <mat-card-header> {{stat.category.name}} </mat-card-header>
  <mat-card-content *ngFor="let player of stat.players">
    <button mat-flat-button>{{player.name}} - {{player.points}} {{'points'|tr}} </button>
    <div fxFlexAlign="end" >
      <mat-progress-bar mode="determinate" value="{{player.points/maxes[i] * 100}}"
                        color="accent" ></mat-progress-bar>
    </div>
  </mat-card-content>
</mat-card>
</body>
