<body class="mat-app-background">

<div fxFill fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout="column">
  <h1 fxLayoutGap="16px">Add players that will play in</h1>
  <h1> <b>{{category.name}}</b> category</h1>
  <br>
  <div fxLayoutGap="16px">
    <mat-form-field>
      <mat-label>Enter name or nickame</mat-label>
      <input matInput [(ngModel)]="player.name">
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" (click)="add(player)">Add</button>
  </div>
  <div *ngFor="let player of players" fxLayoutGap="16px">
    <button fxFill fxLayoutAlign="space-between center" mat-flat-button>
      {{player.name}}
      <button fxFlexAlign="end" mat-flat-button  (click)="remove(player)">
        <mat-icon>cancel</mat-icon>
      </button>
    </button>
  </div>
  <br>
  <button mat-stroked-button color="accent" (click)="start()">Start game</button>
  <button mat-raised-button (click)="toCategories()">Back</button>
</div>
</body>
