<html class="mat-app-background" fxLayoutAlign="center center">
<body class="mat-app-background" fxLayoutAlign="center center">

<div fxFill fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout="column">
  <h1> {{'lobby1'|tr}}</h1>
  <h1> {{'lobby2'|tr}}<b>{{category.name}}</b></h1>

  <br>
  <div fxLayoutGap="16px" *ngIf="showAdd==='true'">
    <mat-form-field>
      <mat-label>{{'enter-name'|tr}}</mat-label>
      <input id="{{'name' + 1}}" matInput [(ngModel)]="this.player.name">
    </mat-form-field>
    <button id="{{'add' + 1}}" mat-raised-button (click)="add(player)" type="submit" color="accent">
      <mat-icon>add_circle</mat-icon>
      {{'add'|tr}}
    </button>
  </div>
    <div *ngFor="let player of players" fxLayoutGap="16px">
    <button id="{{'player' + 2}}" fxFill color="accent" fxFill fxLayoutAlign="space-between center" mat-flat-button>
      {{player.name}}
      <button id="{{'remove' + 1}}" color="accent" fxFlexAlign="end" mat-flat-button  (click)="remove(player)">
        <mat-icon>delete</mat-icon>
      </button>
    </button>
  </div>
  <br>
  <button id="{{'start' + 1}}" mat-stroked-button color="accent" (click)="start()">
    <mat-icon>done</mat-icon>
    {{'start-game'|tr}}
  </button>
  <button id="{{'toCategories' + 1}}" mat-raised-button (click)="toCategories()" color="accent">
    <mat-icon>reply</mat-icon>
    {{'back'|tr}}
  </button>
</div>
</body>
</html>
