<body class="mat-app-background">

<div fxFill fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout="column">
  <h1> {{'lobby1'|tr}}</h1>
  <h1> {{'lobby2'|tr}}<b>{{category.name}}</b></h1>

  <br>
  <div fxLayoutGap="16px">
    <mat-form-field>
      <mat-label>{{'enter-name'|tr}}</mat-label>
      <input matInput [(ngModel)]="this.player.name">
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="add(player)" type="submit" color="accent">{{'Add'|tr}}</button>
  <div *ngFor="let player of players" fxLayoutGap="16px">
    <button fxFill fxLayoutAlign="space-between center" mat-flat-button>
      {{player.name}}
      <button fxFlexAlign="end" mat-flat-button  (click)="remove(player)">
        <mat-icon>cancel</mat-icon>
      </button>
    </button>
  </div>
  <br>
  <button mat-stroked-button color="accent" (click)="start()">{{'start-game'|tr}}</button>
  <button mat-raised-button (click)="toCategories()" >{{'Back'|tr}}</button>
</div>
</body>
