<body class="mat-app-background">
<br>
<div fxLayout="column" fxLayoutGap="2%">
  <div fxFill fxLayoutAlign="center start" fxLayout="row" fxLayoutGap="2%">
    <mat-expansion-panel>
      <mat-expansion-panel-header hideToggle>
        <mat-panel-title>
          Create Categories
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column">
        <mat-form-field>
          <mat-label>Enter name</mat-label>
          <input matInput [(ngModel)]="this.category.name">
        </mat-form-field>
        <button mat-raised-button (click)="createCategory()" type="submit">Create</button>
      </mat-panel-description>
    </mat-expansion-panel>
    <button mat-raised-button (click)="toProfile()">Back</button>
  </div>

  <div fxLayoutAlign="center center" *ngFor="let category of categories">
    <mat-expansion-panel fxFill>
      <mat-expansion-panel-header>
        {{category.name}}
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column">
        <div fxLayoutAlign="end" fxLayoutGap="16px">
          <button mat-raised-button (click)="openEditDialog(category)">
            <mat-icon>edit</mat-icon>
            Edit Categories
          </button>
          <button mat-raised-button (click)="openDeleteDialog(category)">
            <mat-icon>delete</mat-icon>
            Delete Categories
          </button>
        </div>
        <div *ngFor="let word of category.words">
          <br>
          {{word.word}}
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </div>

</div>
</body>
