<html class="mat-app-background">
<body class="mat-app-background">
<br>
<mat-accordion>
<div fxLayout="column" fxLayoutGap="2%">
  <div fxFill fxLayoutAlign="center start" fxLayout="row wrap">
    <mat-expansion-panel fxLayoutGap="16px">
      <mat-expansion-panel-header hideToggle>
        <mat-panel-title>
          {{'create-categories'|tr}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column">
        <mat-form-field>
          <mat-label>{{'enter-name'|tr}}</mat-label>
          <input id="{{'categoryname' + 1}}" matInput [(ngModel)]="this.category.name">
        </mat-form-field>
        <button id="{{'createCategory' + 1}}" color="primary" mat-raised-button (click)="createCategory()" type="submit">
          <mat-icon>add_circle</mat-icon>
          {{'create'|tr}}
        </button>
      </mat-panel-description>
    </mat-expansion-panel>
  </div>
  <div fxLayoutGap="16px" fxLayoutAlign="center">
    <button id="{{'toGame' + 1}}" color="accent" mat-raised-button (click)="toGame()">
      <mat-icon>casino</mat-icon>
      {{'to-game'|tr}}</button>
    <button  id="{{'toProfile' + 1}}" color="accent" mat-raised-button (click)="toProfile()">
    <mat-icon>reply</mat-icon>
      {{'back'|tr}}
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="16px" *ngFor="let category of categories">
    <mat-expansion-panel fxFill hideToggle>
      <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="space-between center">
        <mat-label class="title">{{category.name}}</mat-label>
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column">
        <div fxLayoutGap="8px">
          <h3>{{'cat-man'|tr}}</h3>
          <button id="{{'openEditCategory' + 1}}" mat-flat-button (click)="openEditCategory(category)">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button id="{{'openDeleteCategory' + 1}}" mat-flat-button (click)="openDeleteCategory(category)">
            <mat-icon color="accent">delete</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" *ngFor="let word of category.words">
          <div fxLayout="row" fxLayoutAlign="space-between" fxFill fxLayoutGap="16px">
            <mat-label fxflex="20" fxLayoutAlign="start center">{{word.word}}</mat-label>
            <div fxFlex="20" fxLayoutAlign="end">
              <button id="{{'openEditWord' + 1}}" mat-flat-button (click)="openEditWord(word)">
                <mat-icon color="accent">edit</mat-icon>
              </button>
              <button id="{{'openDeleteWord' + 1}}" mat-flat-button (click)="openDeleteWord(word)">
                <mat-icon color="accent">delete</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-panel-description>
      <div fxLayout="row" fxLayoutAlign="space-between" fxFill>
        <mat-form-field>
          <mat-label>{{'enter-new'|tr}}</mat-label>
          <input id="{{'newWord' + 1}}" matInput [(ngModel)]="newWord.word">
        </mat-form-field>
          <button id="{{'createWord' + 1}}" fxFlex="20" fxLayoutAlign="end" fxLayoutGap="16px" (click)="createWord(category.user_id, category.id, newWord)" mat-flat-button>
            <mat-icon color="accent">add</mat-icon>
          </button>
      </div>
    </mat-expansion-panel>
  </div>
</div>
</mat-accordion>
</body>
</html>
