<body class="mat-app-background">
<br>
<mat-accordion>
<div fxLayout="column" fxLayoutGap="2%">
  <div fxFill fxLayoutAlign="center start" fxLayout="row wrap">
    <mat-expansion-panel fxLayoutGap="16px">
      <mat-expansion-panel-header hideToggle>
        <mat-panel-title>
          {{'create-categories'|tr}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column">
        <mat-form-field>
          <mat-label>{{'enter-name'|tr}}</mat-label>
          <input matInput [(ngModel)]="this.category.name">
        </mat-form-field>
        <button mat-raised-button (click)="createCategory()" type="submit">{{'Create'|tr}}</button>
      </mat-panel-description>
    </mat-expansion-panel>
  </div>
/<------look from this
  <div fxLayoutGap="16px" fxLayoutAlign="center">
    <button mat-raised-button (click)="toGame()">{{'to-game'|tr}}</button>
    <button mat-raised-button (click)="toProfile()">{{'Back'|tr}}</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="16px" *ngFor="let category of categories">
    <mat-expansion-panel fxFill hideToggle>
      <mat-expansion-panel-header fxLayoutAlign="space-between">
        <h1>{{category.name}}</h1>
      </mat-expansion-panel-header>
      <mat-panel-description fxLayout="column">
        <div fxLayoutGap="8px">
          <h3>{{'cat-man'|tr}}</h3>
          <button mat-flat-button (click)="openEditCategory(category)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-flat-button (click)="openDeleteCategory(category)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" *ngFor="let word of category.words">
          <div fxLayout="row" fxLayoutAlign="space-between" fxFill fxLayoutGap="16px">
            <p fxflex="20" fxLayoutAlign="start">{{word.word}}</p>
            <div fxFlex="20" fxLayoutAlign="end">
              <button mat-flat-button (click)="openEditWord(word)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-flat-button (click)="openDeleteWord(word)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-panel-description>
      <div fxLayout="row" fxLayoutAlign="space-between" fxFill>
        <mat-form-field>
          <mat-label>{{'enter-new'|tr}}</mat-label>
          <input matInput [(ngModel)]="newWord.word">
        </mat-form-field>
          <button fxFlex="20" fxLayoutAlign="end" fxLayoutGap="16px" (click)="createWord(category.user_id, category.id, newWord)" mat-flat-button>
            <mat-icon>add</mat-icon>
          </button>
      </div>
    </mat-expansion-panel>
  </div>
</div>
</mat-accordion>
</body>
