<div mat-dialog-content fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
  <h2>Sign up</h2>

  <mat-form-field appearance="fill">
    <mat-label>Enter your username</mat-label>
    <input required matInput [(ngModel)]="signUpUserModel.username">
    <button matSuffix mat-icon-button disabled></button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your e-mail</mat-label>
    <input required matInput [(ngModel)]="signUpUserModel.email">
    <button matSuffix mat-icon-button disabled></button>
  </mat-form-field>


  <div fxLayoutGap="20%" fxLayout="column">
    <button fxFill mat-raised-button (click)="signUp()" type="submit">Sign in</button>
    <button mat-raised-button (click)="close()">Cancel</button>
  </div>

</div>

